.popap {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0004;
    z-index: 100;
    opacity: 0;
    animation: overlay .5s ease 0s forwards;
}

@keyframes overlay {
    to {
        opacity: 1;
    }
}

.model {
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%) scale(.8);
    width: 350px;
    min-height: 400px;
    background: #fff;
    z-index: 101;
    box-shadow: 0 0 25px #0005;
    opacity: 0;
    animation: model .2s ease 0s forwards;
    .texts{
    width: 100%;
    // height: 48px;
    // background-color: #000;
    border: 1px solid #000;
    display: flex;
    // align-items: center;
    // justify-content: center;
    input{
        border: none;
    }
    .openeye{
        width: 20%;
        border: none;
        background: transparent;
        background: #000;
    }
    .backeye{
        display: none;
    }
}
    button,
    input {
        padding: 10px;
        width: 100%;
        height: 38px;
        margin-bottom: 20px;
    }
}

@keyframes model {
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.hero {
    width: 100%;
    padding: 30px 0;

    .login {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

        button,
        input {
            padding: 10px;
            width: 300px;
            height: 48px;
        }
    }
}
.wrapper{
 padding: 50px;
 display: flex;
 flex-wrap: wrap;
 gap: 14px;
 .card{
    width: 280px;
    height: 350px;
    border: 1px solid red;
    padding: 20px;
    text-align: center;
    list-style: 1.8;
    .card__circle{
        width: 150px;
        height: 150px;
        background: #ddd;
        border-radius: 50%;
        margin: auto;
    }
 }
}